.project_tools {
    /*border: 1px dotted red;*/
}

.project_tools .languages,
.project_tools .technologies {
    padding: 10px;
}

.project_tools .languages .content,
.project_tools .technologies .content {
    /*border: 1px solid lightgreen;*/
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.zoomInImgBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.zoomInImgBackground .zoomImg {
    /* center the img */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* don't let it overflow */
    max-height: 100%;
    max-width: 100%;
    border: 1px solid rgb(0,172,193);
}

.zoomOutHandler {
    cursor: zoom-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}