/**
 * source : https://css-tricks.com/using-css-to-set-text-inside-a-circle/
 **/

.bubble {
    height: 100%;
    width: 100%;
    /* bubble effect */
    background: radial-gradient(
            ellipse at center,
            rgba(192, 253, 251, 0.53) 0%,
            rgb(73, 185, 223) 70%,
            rgba(0, 0, 0, 0) 70.3%
    );
}

.bubble .bubble_content {
    position: relative;
    margin: 0;
}
